@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');


.MainApp {
  position: absolute;
  display: flex;
  left: 0;
  background-color: #121420;
  flex-direction: row;
}

.progressDiv {
  background-color: #121420;
}

.ThirdContainer {
  top: 10%;
  height: 1080px;
}

.Home-Container {
  /* animation: 1.5s ease-out 0s 1 slideInFromRight; */
}
.Fourth-Container {
  height: calc(65rem + 20px);
  animation: 1.5s ease-out 0s 1 slideInFromRight;
}
.Fifth-Container {
  height: calc(65rem + 20px);
  animation: 1.5s ease-out 0s 1 slideInFromRight;
}

.Collection-Container{
  height: calc(65rem + 20px);

}


@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
    opacity: 0.1;
    transform: scale(0.8);

  }
  100% {
    transform: translateY(0);
    opacity: 1.0;
    transform: scale(1);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateY(0%);
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    opacity: 0.5;

  }
  100% {
    transform: translateY(100%);
    background-color: rgb(224, 144, 144); 
    opacity: 0.0;
  }
}

.firstBackGround {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 2%;
}

.secondBackGround {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 10%;
}

.firstBackGround2 {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 40%;
}

.secondBackGround2 {
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 50%;
}

